
 body {
     font-family: 'Helvetica Neue', Arial, sans-serif;
 }

img {
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    color: #3C3C3C;
    font-size: 32px;
}
.size32 {
    font-size: 32px;
}

p {
    color: #2B292D;
    font-size: 16px;
    line-height: 34px;
}

    /* HEADER */ 

nav ul {
    padding: 0;
    text-align: center;
    margin: 0;

}
nav ul li {
    display: inline-block;
}
.logo {
    float: left;
    margin-left: 10% ;
}

.btn-header {
    height: 46px;
    width: 160px;
    border: 1px solid #B57AD2;
    border-radius: 23px;
    background-color: white; 
    color: #B57AD2;
    font-size: 16px;
    line-height: 19px;
}

    /* Main */

.grid-main {
    display: grid;
    grid-template-rows: 1fr repeat(8, 2fr) 1fr;
}

.btn-main, .btn4 {
    width: 202px;
    height: 63px;
    background-color: #B57AD2;
    color: white;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid #B57AD2;
    border-radius: 31px;
}


    /* Section 1 */

.block1 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: flex-end;
}

.img-sec1 {
    background-color: rgba(181, 122, 210, 0.77);
    background-image: linear-gradient( rgba(181, 122, 210, 0.776388), white);
}

.block1 .text-1 {
    margin-top: 25%;
    margin-left: 20%;
}

    /* Section 2 */

.titre2 {
    align-items: center;
}

.psect2 {
    text-align: center;
}

.text2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    text-align: center;
}
    
    /* Section 3 */

.title3 {
    text-align: center;
}

.sec3bg {
    text-align: center;
}

#grid.sec3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.sec3.div1 {
}

.sec3.div2 {
}

.sec3.div3 {
}

    /* Section 4 */

.title4 {
    text-align: center;
}

.block4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.div4 {
    text-align: center;
}

.btn4 {
   display: block;
   margin: auto;
   margin-bottom: 20px;
}

    /* Section 5 */

.section5 {
    background-color: #B57AD2;
    background-image: linear-gradient( white, rgba(181, 122, 210, 0.776388));
    display: grid;
    grid-template-columns: 50% 50%;
}

.h2-5 {
    font-size: 56px;
    width: 100%;
}

.img5 { 
    margin: 10%;
}

.text5 {
    margin-top: 5% ;
}

.sec5p {
    line-height: 34px;
}

.sec5p1 {
    padding-top: 10%;
}

.sec5p1, .sec5p2 {
    line-height: 22px;
}

    /* Section 6 */

.section6 {
    background-color: rgba(181, 122, 210, 0.77);
    background-image: linear-gradient( rgba(181, 122, 210, 0.776388), white);
}
.title6 {
    text-align: center;
}

.h2-6 {
    font-size: 36px;
}

.img6.2 {
    z-index: 2 ;
    margin-left: auto;
    margin-right: auto;
}

    /* Section 7 */

.section7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title7 {
    text-align: center;
}

.list-color {
    list-style-type: none;
    font-size: 18px;
}

.list-color li:before {
    content: "\2022";
    color: #B57AD2;
}

    /* Section 8 */

.grid-8 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.titre8 {
    text-align: center;
}

.select {
    text-align: center;
}

textarea {
    margin-top: 5% ;
    margin-bottom: 10% ;
}

label {
    display: inline-block;
    display: flex;
    -ms-flex-direction: column;
    padding-bottom: 5%;
}

.form {
    text-align: center;
}

h4 {
    font-size: 24px;
}

    /* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr ;
    height: 30vh;
    background-color: #B57AD2;
    color: white;
    justify-content: space-around;
}

.list-footer {
    list-style-type: none;
}